<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
<button (click)="handleClick()">Console log me</button>
  </div>
  <div class="">
    <ul>
      <li><input type="number" name="" value="">
        <button type="button" name="button">Add to Cart</button>
        <div class="total">
        <output name="result"></output>
        </div>
      </li>
      <li><input type="number" name="" value="">
        <button type="button" name="button">Add to Cart</button>
        <output name="result"></output>
      </li>
    </ul>
  </div>
